.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    top: 80px;
} 
.goomba {
    width: 100px;
    position: absolute;
    top: 371px;
    left: 95px;
} 
.baloon {
    position: absolute;
    top: 1500px;
    top: 206px;
    left: 241px;
} 
.speach {
    font-size: 25px;
    position: absolute;
    top: 245px;
    left: 265px;
    z-index: 1;
}
.bowser {
    width: 300px;
    position: absolute;
    top: 280px;
    left: 502px;
}
/*
-1 - Posicione o Mário acima do Goomba.
-2 - Posicione a tag p para que fique dentro do balão de fala.
-3 - Posicione o balão para que se torne uma fala de Bowser.
*/